input{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

button{
  background: blue;
  border: 1px solid darkblue;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 5px;
}

.group{
  border: 1px solid blue;
  color: white;
  padding: 20px;
}
