
.container-fluid{
  background: black;
  opacity: 80%;
  border: 3px solid red;
  border-radius: 15px;
  color: white;
  margin: 0 auto;
}

.col-1,
.col-2,
.col-3{
  display: inline-block;
  padding: 20px;
  width: 30%;
  vertical-align: top;
}

form{
  margin-bottom: 20px;
}


