<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-1">
      <app-new-users></app-new-users>
    </div>
    <div class="col-2">
      <h3>Users:</h3>
      <app-users
      *ngFor="let user of userServices.users; let i = index"
      [massUser]="user"
      (click)="addToGroup(user)"

      ></app-users>
    </div>
    <div class="col-3">
      <h3>Groups:</h3>
      <app-group
        class="group"
        *ngFor="let group of userServices.group; let i = index"
        [group]="addNameGroup(group)"
      >
      <h3></h3></app-group>
    </div>
  </div>
</div>


