<form (ngSubmit)="addValueUser()">
  <label for="name"> name</label>
    <input type="name" id="name" #nameInput>
  <label for="email">email</label>
    <input type="email" id="email" #emailInput>
  <label for="check">active status</label>
    <input type="checkbox" id="check" #checkInput checked>
  <select name="role" id="role" #select>
    <option value="role">no role selected</option>
    <option>user</option>
    <option>admin</option>
    <option>editor</option>
  </select>
  <button type="submit">log</button>
</form>
<hr class="line">
<form (ngSubmit)="addValueGroup()">
  <label for="group">create group</label>
  <input type="text" id="group" #groupInput>
  <button type="submit">create</button>
</form>
