input{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

button{
  background: blue;
  border: 1px solid darkblue;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 5px;
}

.line{
  background: red;
  width: 205px;
  height: 2px;
  margin: 0 0 20px 0;
  border: none;
}
